/* Sidebar styling */
.sidebar {
    height: 100vh;
    padding-top: 1rem;
    background-color: #f8f9fa; /* Light gray background */
    border-right: 1px solid #343a40; /* Light border to separate sidebar */
}


/* Custom styling for nav items */
.nav-item-custom {
    color: #343a40; /* Default font color */
    font-weight: 500;
    transition: background-color 0.2s, color 0.2s;
    text-decoration: none; /* Remove underline from links */
}

/* Ensure links inside nav items use custom color */
.nav-item-custom a {
    color: inherit !important; /* Inherit color from parent */
    text-decoration: none; /* Remove underline */
}

/* Highlight active nav item with more prominent gray */
.nav-item-custom.active {
    background-color: #343a40 !important; /* Dark background for active item */
    color: white !important; /* Font color when active */
}

.nav-item-custom.active a {
    color: white !important; /* Font color when active */
}

/* Highlight nav item on hover */
.nav-item-custom:hover {
    background-color: #343a40 !important; /* Dark background on hover */
    color: white !important; /* Font color on hover */
}

/* Ensure the footer is fixed at the bottom */
footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}


/* CustomAlert.css */
.custom-alert {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #f44336;
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 9999;
    animation: fadeIn 0.5s ease;
  }
  
  .custom-alert-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .custom-alert-close {
    background: transparent;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  